.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}


/* ? SHOPPING CART */

.shopping-cart-items {
    padding: 20px 0px;
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;
}

.test {
    background-color: yellow;
}

#map {
    height: 256px;
}


/*Boton de ir arriba*/

#button-up {
    width: 60px;
    height: 60px;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}